/* Table CSS */

table {
		border: 1px solid silver;
		width: 50%;
	  }
	  
td:hover {
		background-color: yellow;
		color: black;
	}
	
tr, th {
		background-color: black;
		color: cornsilk;
		text-align: center;
		}
		
tr, td {
		background-color: darkgreen;
		color: white;
		text-align: center;
		}